Pillow
python-multipart
ffmpeg
insightface
onnxruntime-gpu
numpy
opencv-python
opencv-contrib-python
pydantic
fastapi
uvicorn[standard]
librosa==0.9.1

opencv-contrib-python
opencv-python
torch
torchvision
tqdm
numba
